@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*End of CSS reset*/

body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  font-family: "Inter", sans-serif;
}
:root {
  --main-bg-color: rgba(243, 245, 252, 1);
  --darkBlue: rgba(10, 56, 113, 1);
}

.main-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
  background-color: var(--main-bg-color);
  padding: 3% 3% 20px 3%;
}

#modal-alerta {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 100px;
  text-align: center;
  border-radius: 24px;
  color: var(--darkBlue);
  background-color: rgba(216, 223, 232, 1);
  box-shadow: 0px 24px 32px -10px rgba(0, 0, 0, 0.08);
}

#modal-alerta .icon-alert {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  vertical-align: text-bottom;
}

.grid-container {
  margin: 0 auto;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 80vh;
  grid-template-areas: "input output";
}
.textarea-container {
  display: flex;
  flex-direction: column;
}

.output-container {
  grid-area: output;
  display: flex;
  justify-content: center;
  height: 100%;
}


.textarea-main-container {
  position: relative;
  height: 100%;
  grid-area: input;
  margin: 5% 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.output {
  width: 90%;
  height: 100%;
  background-color: #fafafa;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 5% 5% 5%;
}
.loader {
  text-align: center;
}

.loader h3 {
  margin-top: 10px;
  color: rgba(52, 58, 64, 1);
  font-weight: bold;
}

.loader h4 {
  margin-top: 10px;
  color: rgba(73, 80, 87, 1);
}

textarea {
  border: 0;
  color: var(--darkBlue);
  font-family: "Inter", sans-serif;
  resize: none;
  font-size: 1.8rem;
  text-align: center;
  outline: none;
}

#text-output{
  height: 80%;
}

#textarea-output {
  background: transparent;
  width: 100%;
  height: 100% !important;
  font-size: 1.8rem;
  overflow: auto;
}

#textarea-input {
  width: 90%;
  height: 80%;
  background-color: var(--main-bg-color);
  font-size: 1.8rem;
}

#textarea-input::placeholder {
  color: var(--darkBlue);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 1.66rem;
}

.textarea-bottom-container p {
  text-align: center;
  font-size: 1.11rem;
  color: rgba(73, 80, 87, 1);
}

.icon-alert {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  vertical-align: text-bottom;
}
.buttons-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.btn {
  position: relative;
  font-size: 1.1rem;
  color: #ffffff;
  border: 0;
  border-radius: 24px;
  width: 220px;
  height: 60px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.btn:after {
  content: "";
  background: #90c5ee;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  border-radius: 300px;
  transition: all 0.8s;
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}


.encriptar {
  background: var(--darkBlue);
  color: #ffffff;
  margin-right: 10px;
}

.desencriptar {
  margin-left: 10px;
  color: var(--darkBlue);
  background: rgba(216, 223, 232, 1);
  border: 1px solid var(--darkBlue);
}
.copiar {
  width: 150px;
  height: 50px;
  color: var(--darkBlue);
  background: rgba(216, 223, 232, 1);
  border: 1px solid var(--darkBlue);
}

.response-container {
  width: 100%;
  position: relative;
  text-align: center;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.copy-btn-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .main-container {
      position: relative;
  width: 100vw;
  height: auto;
  
    
    padding: 5%;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "input"
      "output"
      "footer";
  }

  .output-container {
    margin-top: 10%;
    height: auto;
  }
  .output {
    width: 100%;
    min-height: 25vh;
    max-height: auto;
  }

  #textarea-input {
    width: 70%;
    resize: none;
    height: 50vh;
    background-color: var(--main-bg-color);
  }

  .loader img {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .buttons-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desencriptar {
    margin: 5px 0 0 0;
  }
  .encriptar {
    margin: 0 0 5px 0;
  }
}
